<!-- Header Start -->
<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/sports" class="nav-item nav-link">Sports</a>
                    <a href="/technology" class="nav-item nav-link">Technology</a>
                    <a href="/business" class="nav-item nav-link">business</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More</a>
                        <div class="dropdown-menu">
                            <a href="/entertainment" class="nav-item dropdown-item">Entertainment</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Header End -->